.headerItem{
    color: var(--secondary-color);
    padding: 20px;
}
.headerItem:hover{
    color: var(--primary-color);
      text-decoration: underline;
      text-underline-offset: 1.7em;
      text-decoration-thickness: 3px;
  
}

.hamburgerMenueItem{
  text-align: center;
    color: var(--secondary-color);
}

.hamburgerMenueItem:hover{
      color: var(--primary-color);
        text-decoration: underline;
        text-underline-offset: 1.7em;
        text-decoration-thickness: 3px;
}






