@font-face {
    font-family: 'vazir';
    src: url('/public/fonts/vazir-font/Vazir-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'vazir', sans-serif;
}