@font-face {
    font-family: 'vazir';
    src: url('/public/fonts/vazir-font/Vazir-Bold.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'vazir';
}