
@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* ************** */
@import "./font.css";
@import "./theme.css"; 



* {
  box-sizing: border-box;
  direction: rtl;

}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  font-weight: 900;
}


